# Node modules
node_modules/

# Environment variables
.env

# Editor-specific files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
